.card{
    background-color:rgba(208, 208, 208, 1) ;
    border-radius: 5px;
    font-family: 'PT Mono', monospace;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    min-height: 11rem;
    width: 300px;
    
        &__section{
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 100%;
        }
        &__pictures{
            display: flex;
            padding: 0;
        }
        &__img{
            margin-left: auto;
            padding: 0;
        }
        &__labels{
            display: flex;
            font-size: 0.75rem;
            padding: 0;
        }
        &__inputs{
            display: flex;
            font-size: 1.125rem ;
            padding: 0;
        }
        &__title{
            font-size: 1.125rem ;
            padding: 0;
            margin: 0;
        }
        &__valid{
            margin-left: auto;
            padding: 0;
            margin-top:0;
            margin-bottom: 0;
        }
        &__number{
            font-size: 1.2rem;
            padding: 0;
            line-height: 2rem;
            letter-spacing: 0.03em;
            margin: 0;
            width: 100%;
        }
        &__validThru{
            margin-left: auto;
        }
        &__x{
            background-color: white;
            border-radius: 50%;
            border: none;
            height: fit-content;
        }
}
.card:hover{
    box-shadow: 5px  5px 5px rgb(129, 126, 126);
}
.bitcoin{
    text-shadow: -0.5px -0.5px  rgb(91, 88, 88);
}
.ninja{
    text-shadow: -0.5px -0.5px rgb(71, 70, 70);
}
.blockchain{
    text-shadow: 0.5px 0.5px rgb(68, 66, 66);
}
.evil{
    text-shadow: -0.5px -0.5px rgb(105, 104, 104);
}
@media only screen and (max-width: 310px) {

    .card{
        padding: 0.5rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        

        &__validThru{
           margin-left: 2rem ;
        }
    }
    
  }